.taskListContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 45.625rem;
  margin: 0 auto;
  margin-top: 0.75rem;
  padding: 1rem;

  background: var(--gray-500);
  border-radius: 8px;
}

.taskListContent svg {
  color: var(--gray-300);
  width: 30px;
  height: 30px;
  padding: 0.3rem;
}

.trashIcon {
  width: 30px;
  height: 30px;
  background: var(--gray-500);
  border-radius: 4px;
}

.trashIcon svg:hover {
  background: var(--gray-400);
  color: var(--red-500);
  border-radius: 4px;
  cursor: pointer;
}

.taskCheckbox {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  margin-right: 0.75rem;
  width: 1.091rem;
  height: 1.091rem;
  background-color: var(--gray-500);
  border: 2px solid var(--blue-500);
  border-radius: 50%;
  cursor: pointer;
  place-content: center;
}

.taskCheckbox::before {
  width: 0.45em;
  height: 0.45em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  transform-origin: bottom left;
  color: var(--gray-100);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.taskCheckbox:checked {
  background: var(--purple-500);
  border-color: var(--purple-500);
}

.taskCheckbox:checked + p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.taskCheckbox:checked::before {
  transform: scale(1);
}
